body {
    font-family: 'Roboto' 'Raleway', sans-serif;
    background-color: FFFFFF;
    color: #000000;
    Weight: Regular Size: 16px Line Height: 24px Letter Spacing: 2%; 
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}